body{
    background-color: #1d1d1f;
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
    
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

#Title{
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
}

#Sale{
    font-size: 35px;
    text-indent: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
}

#Home{
    font-size: 35px;
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
}